@media screen and (min-width: 768px) {
  main {
    height: 1470px;
  }
  .container {
    max-width: 768px;
  }
  .header-grid {
    padding: 40px 40px 80px;
    justify-content: space-between;
    background-color: #f2f2f2;
  }
  .hero {
    position: relative;
    &__photo {
      position: absolute;
      top: 0px;
      right: 16px;
    }
    &__title {
      font-size: 56px;
      line-height: 64px;
    }
    &__text {
      width: 280px;
    }
    &__button {
      align-self: flex-start;
    }
  }

  .left-container {
    width: 450px;
    padding-top: 30px;
    padding-left: 39px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    z-index: 1;
    position: relative;
    &__line {
      width: 231px;
      align-self: flex-end;
    }
  }

  .right-container {
    padding-top: 128px;
    flex-direction: row;
    gap: 10px;
    justify-content: space-around;
  }
  .position-advertiser {
    position: relative;
    max-width: 768px;
    margin: 0 auto;
  }
  .advertiser {
    width: 694px;
    position: absolute;
    left: 39px;
    &__image {
      left: 223px;
    }
    &__blur {
      left: 184px;
    }
    &__line {
      left: 300px;
    }
  }
  .advertiser-container {
    width: 573px;
    margin: auto;
  }
  .footer {
    height: 590px;
    background-color: $background-color;
  }
  .footer-grid {
    width: 689px;
    flex-direction: row;
    justify-content: space-around;
    padding-left: 35px;
    height: 32px;
    position: inherit;
    padding-top: 450px;
    &__item--position {
      padding: 0;
    }
  }
}
