$main-color: #172339;
$secondary-color: #49566d;
$background-color: #f3ede7;
$background-opacity: rgba(23, 35, 57, 0.2);
$secondary-background-color: #faf8f6;
$gradient-color-1: #a060ff;
$gradient-color-2: #cb30e3;
$gradient-color-3: #ffa84e;
$font-weight-400: 400;
$font-weight-700: 700;
$font-size-72: 72px;
$font-size-48: 48px;
$font-size-18: 18px;
$font-size-16: 16px;
$font-size-20: 20px;
$font-size-15: 15px;
